@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

body {
  font-family: 'Inter', sans-serif;
}

body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: #1a202c;
  color: white;
}